/* Global Settings */

* {margin: 0;padding: 0; box-sizing: border-box;}

@font-face { font-family: 'BnFont';  src: url('../fonts/bn.ttf') format('truetype');}
.bnFont    { font-family: 'BnFont';}

@font-face { font-family: 'roboto';  src: url('../fonts/roboto.ttf') format('truetype');}
.roboto    { font-family: 'roboto';}

@font-face { font-family: 'tahoma';  src: url('../fonts/tahoma.ttf') format('truetype');}
.tahoma    { font-family: 'tahoma';}

body {background-color: #d3d3d3 }

div#datetime {
    font-weight: bold;
}


.admin-info-bar {
    display: flex;
    justify-content: space-between;
}


input[type="date"] {
    padding: 4px;
    border: 1px solid green;
    border-radius: 3px;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    margin: 5px;
}
.report-header {
    text-align: center;
    background-color: gainsboro;
    font-size: 14px;
    font-weight: bold;
}

marquee.bnFont {
    color: red;
    background-color: floralwhite;
}

.total       { background-color: antiquewhite; cursor: pointer}
.total:hover {background-color: #E7B674; transition: 0.5s}

.paid       { background-color: blueviolet; color: #fff; ; cursor: pointer}
.paid:hover {background-color: #4C7DFF; transition: 0.5s}

.due       { background-color: brown; color: #fff; ; cursor: pointer}
.due:hover {background-color: #E84F08; transition: 0.5s}

.pending       { background-color: yellow; ; cursor: pointer}
.pending:hover {background-color: #FFB833 ; transition: 0.5s}


.admin-info-bar div {padding: 10px;  margin: 15px; border-radius: 4px; ; cursor: pointer}

.admin-info-bar table {border-collapse: collapse; width: 100%}
.admin-info-bar td    { padding: 5px}
.admin-info-bar tr td:first-child {text-align: right;}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer {
    background-color: bisque;
    padding: 4px;
    text-align: center;
    margin-top: 85px;
    font-size: 14px;
    font-weight: bold;
}

.report-01 {
    display: flex;
    /* margin: 0 auto; */
    /* width: 30%; */
    justify-content: space-around;
}
.report-02 {
    display: flex;
    justify-content: center;
    border: 1px solid green;
    padding: 14px;
    margin: 9px;
    border-radius: 10px;
}
.left p {margin-left: 5px}

.admin-main   {background-color: #fff; border-radius: 3px; padding: 3px} /* Dev */
.button       {background-color: #04AA6D; border: none; border-radius: 5px; color: white;padding: 3px 5px;text-align: center;text-decoration: none; display: inline-block;font-size: 14px;margin: 2px;cursor: pointer;}
.button:hover {background-color: #059862}

input[type=text] ,input[type=password],input[type=tel]                      { width: 100%; font-size: 14px; padding: 4px; border-radius: 3px; margin: 3px ; box-sizing: border-box;border: 1px solid #ccc;-webkit-transition: 0.5s; transition: 0.5s;outline: none;}
input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus   { border: 1px solid #059862;}

.admin-header {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    align-items: center;
    border-bottom: 3px solid red;
}


@media (max-width: 768px)  /* Mobile */
{
   .admin-main {font-size: 16px}
}


@media (min-width: 1024px) 
{
	.admin-main {width: 70%; margin: 10px auto; font-size:14px }
}