<!DOCTYPE html>

<% if (flashMessage && flashMessage.length > 0) { %>
  <ol>
    <% flashMessage.forEach(function(message) { %>
      <li><%= message %></li>
    <% }); %>
  </ol>
<% } %>

<h1>Please Signin</h1>
<form method="post" action="/cms/login">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
  <input type="text" placeholder="Enter your username" name="username"><br><br>
  <input type="password" placeholder="Enter your password" name="password"><br><br>
  <input type="submit" value="Login">
</form>

<a href="/cms/create">Register</a>
