<h1> Please Register </h1>

<% if (flashMessage && flashMessage.length > 0) { %>
  <ol>
    <% flashMessage.forEach(function(message) { %>
      <li><%= message %></li>
    <% }); %>
  </ol>
<% } %>



<form method="post" action="/cms/create">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
  <input type="text" placeholder="Enter your username" name="username"> <br><br>
  <input type="password" placeholder="Enter your password" name="password"> <br><br>
  <input type="email" placeholder="Enter email" name="email"> <br><br>
  <input type="tel" placeholder="Enter phone number" name="phone"> <br><br>
  <input type="Submit" value="Save">
</form>

<a href="/cms/login">Signin</a>